<div class="top-banner">
    <div class="initialTopBanner">  
        <div class="scrolldown">
            <img alt="Ver Mais Scroll Image" src="./images/scrolldown.png" />
        </div>      
        <ul id="homepage-slider">				        	
            <li>
                <div class="img" style="background-image: url('https://static.wixstatic.com/media/5d46ae_ae2b73804e404859a4ef960f0d8a243d~mv2_d_3920_2204_s_2.jpg/v1/fill/w_976,h_548,al_c,q_85,usm_0.66_1.00_0.01/5d46ae_ae2b73804e404859a4ef960f0d8a243d~mv2_d_3920_2204_s_2.jpg');"></div><!--https://static.wixstatic.com/media/5d46ae_034cf8880df147cd924627a48f4cec2b~mv2.jpg-->
                <div class="black-home-overlay"></div>						
                <div class="text-area">
                    <h1>OFICINA RE-TRAPOS</h1>
                    <h3></h3>						            
                    <div class="description">
                        <!--<p>TÍTULO DE APOIO PARA O BOTÃO</p>--><div class="verMaisHomeBtn"><a href="https://6c6ceda1-6b8d-42b2-bfc3-90984dd94c5a.filesusr.com/ugd/5d46ae_103c925547364cbc9e19a807d5e2d2a3.pdf" target="_blank">CONSULTAR</a></div>
                    </div>    	
                </div>
            </li>
            <li>
                <div class="img" style="background-image: url('https://static.wixstatic.com/media/5d46ae_a897b68bc34e4c9e8221a18a04852a79~mv2_d_3920_2204_s_2.jpg/v1/fill/w_976,h_548,al_c,q_85,usm_0.66_1.00_0.01/5d46ae_a897b68bc34e4c9e8221a18a04852a79~mv2_d_3920_2204_s_2.jpg');"></div>
                <div class="black-home-overlay"></div>						
                <div class="text-area">
                    <h1>EMENTAS</h1>
                    <h3>Ementa Escolar e Vegetariana</h3>						            
                    <div class="description">
                        <p>EMENTA ESCOLAR</p><div class="verMaisHomeBtn"><a href="https://6c6ceda1-6b8d-42b2-bfc3-90984dd94c5a.filesusr.com/ugd/5d46ae_17845e6611644e2abb5be1c621b17f31.xls?dn=Ementa%201%C2%BAperiodo%20(1).xls" target="_blank">VER</a></div><p style="height:27px;"></p>
                        <p>EMENTA VEGETARIANA</p><div class="verMaisHomeBtn"><a href="https://6c6ceda1-6b8d-42b2-bfc3-90984dd94c5a.filesusr.com/ugd/5d46ae_f9a30926c7464066b9ad25cfdacdfd86.xlsx?dn=Ementa%20vegetariana%201%C2%BAperiodo%20(1).xlsx" target="_blank">VER</a></div>
                    </div>   	
                </div>
            </li>
        </ul>
    </div>
</div>