<footer id="footer">
    <div class="social-media-wrapper" style="margin-bottom:0">
        <!--<ul>
            <li>
                <a href="http://www.facebook.com/pages/Liferay/45119213107" target="_blank"> <i class="icone-facebook"> </i> </a>
            </li>
            <li>
                <a href="https://www.linkedin.com/company/liferay-inc-" target="_blank"> <i class="icone-linkedin"> </i> </a>
            </li>
            <li>
                <a href="https://twitter.com/liferay" target="_blank"> <i class="icone-twitter"> </i> </a>
            </li>
        </ul>-->
        <div id="newsletterWrapper">
            <div class="newsletter-wrapper" style="text-align: center">
                <div class="newsletter-box">
                    <a href="./newsletter.html">
                        <i class="icon-envelope-alt">&nbsp;</i>
                        <span>Newsletter</span>
                    </a> 
                </div>
            </div>
        </div>
    </div>
    <!--<div id="sitemap">
        <div class="nav-menu">
            <div class="container-fluid">
                <div class="row-fluid">
                    <div class="span2 offset1"><a href="./">Início</a></div>
                    <div class="span2"> <a href="javascript:void(0);">Página Interior</a>
                        <ul class="layouts level-1">
                            <li><a href="./link4">Submenu 1</a> </li>
                        </ul>
                    </div>
                    <div class="span2"><a href="./pagina-de-texto">Página de Texto</a></div>
                    <div class="span2"><a href="./formulario">Formulário</a></div>
                    <div class="span2"><a href="./noticias">Notícias</a></div>
                </div>
            </div>
        </div>
    </div>
    <div id="sitemapSubMenu">
        <div class="container-fluid">
            <div class="row-fluid">
                <div class="span3">&nbsp;</div>
                <div class="span1"><a href="javascript:void(0);">PRÉMIOS</a>
                </div>
                <div class="span2"><a href="javascript:void(0);">OUTRO LINK</a>
                </div>
                <div class="span2"><a href="javascript:void(0);">POLÍTICA DE PRIVACIDADE</a>
                </div>
                <div class="span2"><a href="./contactos">CONTACTOS</a>
                </div>
                <div class="span2">&nbsp;</div>
            </div>
        </div>
    </div>-->
    <div id="copyright">
        <div class="container-fluid">
            <div class="row-fluid footer-images-wrapper">
                <div class="span2"> <a href="https://aecolos.edu.gov.pt/moodle/" target="_blank"><img alt="Moodle" src="https://static.wixstatic.com/media/5d46ae_0f9df6003e684be4a33c0c8a7813aa57~mv2.jpg/v1/fill/w_82,h_60,al_c,q_80,usm_0.66_1.00_0.01/5d46ae_0f9df6003e684be4a33c0c8a7813aa57~mv2.webp"></a> </div>
                <div class="span2"> <a href="https://inovar.aecolos.pt/inovaralunos/Inicial.wgx" target="_blank"><img alt="Inovar Alunos" src="https://static.wixstatic.com/media/5d46ae_3fed0dd6e7c448b492505b2ac65a7a92~mv2.jpg/v1/fill/w_205,h_68,al_c,q_80,usm_0.66_1.00_0.01/5d46ae_3fed0dd6e7c448b492505b2ac65a7a92~mv2.webp"></a> </div>
                <div class="span2"> <a href="https://inovar.aecolos.pt/inovarpaa/Inicial.wgx" target="_blank"><img alt="Inovar PAA" src="https://static.wixstatic.com/media/5d46ae_a38d4a09b0644f9e8b6308432696da48~mv2.jpg/v1/fill/w_205,h_70,al_c,q_80,usm_0.66_1.00_0.01/5d46ae_a38d4a09b0644f9e8b6308432696da48~mv2.webp"></a> </div>
                <div class="span2"> <a href="https://inovar.aecolos.pt/inovarconsulta/app/index.html#/login" target="_blank"><img alt="Inovar Consulta" src="https://static.wixstatic.com/media/5d46ae_753ed5f26eea40a5a6337f08afae7c07~mv2.jpg/v1/fill/w_210,h_60,al_c,lg_1,q_80/5d46ae_753ed5f26eea40a5a6337f08afae7c07~mv2.webp"></a> </div>
                <div class="span2"> <a href="https://inovar.aecolos.pt/PortalUnicard" target="_blank"><img alt="Unicard" src="https://static.wixstatic.com/media/5d46ae_7d6968238a7e4129a4c6bc33300b50fd~mv2.png/v1/fill/w_199,h_89,al_c,q_85,usm_0.66_1.00_0.01/Unicard.webp"></a> </div>
            </div>
            <!--footer images -->
            <div class="row-fluid">
                <div class="span12">
                    <p>@2021 <strong>AEColos - Agrupamento de Escolas de Colos</strong>
                    </p>
                </div>
            </div>
        </div>
    </div>
</footer>