<!--begin modal box-->
<style>
    /* The Modal (background) */
    .modal {
      display: none; /* Hidden by default */
      position: fixed; /* Stay in place */
      z-index: 1; /* Sit on top */
      padding-top: 100px; /* Location of the box */
      left: 0;
      top: 50px;
      width: 100%; /* Full width */
      height: 100%; /* Full height */
      overflow: auto; /* Enable scroll if needed */
      background-color: rgb(0,0,0); /* Fallback color */
      background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    }
    
    /* Modal Content */
    .modal-content {
      background-color: #fefefe;
      margin: 0;
      padding: 20px;
      border: 1px solid #888;
      width: 80%;
    }
    
    /* The Close Button */
    .close {
      color: #aaaaaa;
      float: right;
      font-size: 28px;
      font-weight: bold;
    }
    
    .close:hover,
    .close:focus {
      color: #000;
      text-decoration: none;
      cursor: pointer;
    }
    </style>
<div id="regis-modal" class="dialog-box-wrapper modal" style="display:none">
    <div class="dialog-box modal-content">
        <div class="close">
            <i class="icon-remove-sign">&nbsp;</i>
        </div>
        <div class="dialog-header">
            <i class="icone-icons">&nbsp;</i>
            <h4>Registo de Novo Utilizador</h4>
        </div>
        <div class="dialog-body"></div>
    </div>
</div>
<script>
    document.querySelector('.close').onclick = () => {
        document.querySelector('#regis-modal').style.display = 'none';
    };
</script>
<!--end modal box-->
<div class="toTop"><i class="icon-angle-up"></i></div>
<div class="search-box">
    <div>
        <i class="icon-remove">&nbsp;</i>
        <input placeholder="Pesquisar..." type="text" /> <i class="icon-angle-right">&nbsp;</i>
    </div>
</div>
<div class="container-fluid" id="wrapper">
    <header id="banner"> 
        <div id="heading"> 
            <nav class="horizontal-menu type2">
                <div> 
                    <div class="lang-wrapper">
                        <i class="icon-globe"></i> 
                        <select id="selectLang"> 
                            <option value="en">EN</option>
                            <option value="pt">PT</option>
                        </select>
                    </div> 

                    <a href="./"><img src="https://static.wixstatic.com/media/5d46ae_e8d8e27385624347bf722c6927969084~mv2.jpg/v1/fill/w_60,h_84,al_c,q_80,usm_0.66_1.00_0.01/5d46ae_e8d8e27385624347bf722c6927969084~mv2.webp" alt="AMA-Template" /></a>
                    <i class="icone-burguer"></i> 

                    <ul id="menulist"> 
                        <!--empty li to overcome vertical-align bug-->
                        <li class="lfr-nav-item" style="vertical-align:middle"></li>
                        <li class="lfr-nav-item" id="layout_0"> 
                            <a href="https://6c6ceda1-6b8d-42b2-bfc3-90984dd94c5a.filesusr.com/ugd/5d46ae_7d2459348158494782ff6ff4d8310373.pdf" target="_blank"><span>Covid</span></a> 
                        </li> 
                        <li class="lfr-nav-item selected active" id="layout_1"> 
                            <a href="./"><span>Início</span></a> 
                        </li> 
                        <li class="lfr-nav-item dropdown" id="layout_2"> 
                            <a class="dropdown-toggle" href="javascript:void(0);"><span>Apoio<b class="icon-caret-down"></b></span></a> 
                            <ul class="sub-menu"> 
                                <li class="lfr-nav-item" id="layout_3">
                                    <a href="https://github.com/aecolos/aecolos" target="_blank">Q&A Forum</a>
                                </li> 
                                <li class="lfr-nav-item" id="layout_4">
                                    <a href="./prof" target="_blank">Blog</a>
                                </li>
                                <li class="lfr-nav-item" id="layout_5">
                                    <a href="./readme-template" target="_blank">Recursos Educativos</a> 
                                </li>
                                <li class="lfr-nav-item" id="layout_6">
                                    <a href="https://github.com/aecolos/site/wiki" target="_blank">Wiki</a>
                                </li>
                                <!--<li class="lfr-nav-item" id="layout_10">
                                    <a href="https://app.stackbit.com/studio/61995921e0667c00c8bdea40/" target="_blank">Stackbit</a>
                                </li>-->
                                <li class="lfr-nav-item" id="layout_11">
                                    <a href="https://bardeen-c8a44e-0000.netlify.app/" target="_blank">CMS</a>
                                </li>
                            </ul>
                        </li>
                        <li class="lfr-nav-item" id="layout_1"> 
                            <a href="agrupamento.html"><span>Escola</span></a> 
                        </li>
                        <li class="lfr-nav-item" id="layout_1"> 
                            <a href="orgaos.html"><span>Orgãos</span></a> 
                        </li>
                        <!--<li class="lfr-nav-item" id="layout_7"> 
                            <a href="./pagina-de-texto"><span>Página Texto</span></a> 
                        </li> 
                        <li class="lfr-nav-item" id="layout_8">
                            <a href="./formulario"><span>Formulário</span></a>
                        </li>
                        <li class="lfr-nav-item" id="layout_9">
                            <a href="./noticias"><span>Notícias</span></a> 
                        </li>-->
                        <li class="lfr-nav-item dropdown" id="layout_2"> 
                            <a class="dropdown-toggle" href="javascript:void(0);"><span>Mais<b class="icon-caret-down"></b></span></a> 
                            <ul class="sub-menu"> 
                                <li class="lfr-nav-item" id="layout_3">
                                    <a href="https://bibliotecacolos.wixsite.com/website" target="_blank">Biblioteca</a>
                                </li> 
                                <li class="lfr-nav-item" id="layout_4">
                                    <a href="horarios.html">Horário Lectivo</a>
                                </li>
                                <li class="lfr-nav-item" id="layout_5">
                                    <a href="horario.html">Horários Atendimento e Serviços</a> 
                                </li>
                                <li class="lfr-nav-item" id="layout_7">
                                    <a href="https://aecolos.github.io/goodmira/" target="_blank">Goodmira</a> 
                                </li>
                                <!--<li class="lfr-nav-item" id="layout_6">
                                    <a href="https://github.com/aecolos/site/wiki" target="_blank">Wiki</a>
                                </li>-->
                            </ul>
                        </li>
                        <li class="search-icon">
                            <i class="icone-search">&nbsp;</i>
                        </li> 
                        <script>
                            let docs = [{
                                "id": document.documentURI,
                                "txt": document.documentElement.innerText
                            }];
                            let idx = lunr(function () {
                                this.ref('id');
                                this.field('txt');

                                docs.forEach(function (doc) {
                                    this.add(doc)
                                }, this)
                            });
                            document.querySelector('.icon-angle-right').addEventListener('click', function (evt){
                                //idx.search(document.querySelector('.search-box input').value);
                            });
                        </script>
                    </ul> 
                </div> 
            </nav> 
        </div>
    </header>
</div>